body {
  margin-top: 60px;
  background: rgb(89, 91, 247);
  background: linear-gradient(
    132deg,
    rgba(89, 91, 247, 1) 0%,
    rgba(254, 73, 73, 0.7609637605042017) 64%,
    rgba(252, 123, 187, 1) 100%
  );
}
